<div class="border-end border-warning h-100">
    <div class="text-center">
      <img src="/images/vicky1.jpg" alt="Image Error..." class="img-fluid img-thumbnail ig rounded-circle mt-5">
      <h3 class="text-white mt-3">Vicky S Raj</h3>
    </div>
    <!-- <nav class="nav">
      <a href="/" class="nav-link <% if(page_name == 'Home') { %> active <% } %>">Home</a>
      <a href="/service" class="nav-link <% if(page_name == 'Service') { %> active <% }%>">Service</a>
      <a href="/skill" class="nav-link <% if(page_name == 'Skill') { %> active <% } %>">Skill</a>
      <a href="/contact" class="nav-link <% if(page_name == 'Contact') { %> active <% } %>">Contact</a>
    </nav> -->


    <nav class="flex-cloumn text-center mt-4">
      <a href="/" class="nav-link <% if(page_name == 'Home') { %> active <% } %>">Home</a>
      <a href="/service" class="nav-link <% if(page_name == 'Service') { %> active <% }%>">Service</a>
      <a href="/skill" class="nav-link <% if(page_name == 'Skill') { %> active <% } %>">Skill</a>
      <a href="/contact" class="nav-link <% if(page_name == 'Contact') { %> active <% } %>">Contact</a>
    </nav>
  </div>