<%- include('./partials/header.ejs')%>
<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-sm-2">
      <%- include('./partials/sidebar.ejs')%>
    </div>
    <div class="col-sm-10">
      <!-- Main Content -->
    <div class="mt-5">
      <div class="text-center">
        <img src="/images/vicky1.jpg" alt="" class="img-thumbnail " width="220" height="130">
      </div>
      <div class="mt-3 text-white mx-3 text-justify">
        <h1 class="fw-bold st-font">Hello,</h1>
        <div class="px-4" style="line-height: 1.6rem;">
          <p style="text-indent: 100px;">I am <b class="text-warning">vickysraj</b> having 1 years of full-stack web
            devlopment exprience for global businesses, I offer the technical expertise you are seeking
            for your web developer position.
          </p>
          <p>Since earning my bachelor's degree in internet and web devlopment from xyz University, I have
            served as a web developer at <b class="text-warning">vickysraj Technology </b> one of biggest premier desigital markiting and web 
            development firm. In this position, I have led web devlopment projects for clients diverse industries including  technology, manufacturing, pharmaceutical, hospitality, retail and financial services.
          </p>
          <p>Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Dolor sit amet consectetur Voluptates fugit rerum suscipit fugit in enim error. Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Dolor sit amet consectetur Voluptates fugit rerum suscipit fugit in enim IpX.
          </p>
        </div>
      </div>
      <div class="text-center">
        <a href="/contact" class="btn btn-outline-warning mx-5 py-2">Hire Me</a>
        <a href="/contact" class="btn btn-outline-info mx-5 py-2">Contact</a>
      </div>
     </div>
  <!-- End Main Content -->
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs')%>
