<%- include('./partials/header.ejs')%>
<div class="container-fluid bg-dark">
    <div class="row">
      <div class="col-sm-2">
        <%- include('./partials/sidebar.ejs')%>
      </div>
      <div class="col-sm-10">
        <!-- Main Content -->
        <div class="container mt-5">
          <h1 class="text-warning mb-4 border-bottom">SKILLS</h1>
          <!-- Skills -->
          <div class="row text-white">
            <div class="col-sm-5">
              <h3 class="mt-5">HTML</h3>
              <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
              </div>
            </div>

            <div class="col-sm-5 offset-sm-2">
              <h3 class="mt-5">CSS</h3>
              <div class="progress">
                <div class="progress-bar text-dander progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
              </div>
            </div>
          </div>

          <!-- Skills -->
          <div class="row text-white">
            <div class="col-sm-5">
              <h3 class="mt-5">JavaScript</h3>
              <div class="progress">
                <div class="progress-bar text-dander progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
              </div>
            </div>

            <div class="col-sm-5 offset-sm-2">
              <h3 class="mt-5">BootStrap</h3>
              <div class="progress">
                <div class="progress-bar text-dander progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
              </div>
            </div>
          </div>

          <!-- Skills -->
          <div class="row text-white">
            <div class="col-sm-5">
              <h3 class="mt-5">Node JS</h3>
              <div class="progress">
                <div class="progress-bar text-dander progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
              </div>
            </div>

            <div class="col-sm-5 offset-sm-2">
              <h3 class="mt-5">Express JS</h3>
              <div class="progress">
                <div class="progress-bar text-dander progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
              </div>
            </div>
          </div>

          <!-- Skills -->
          <div class="row text-white">
            <div class="col-sm-5">
              <h3 class="mt-5">React JS</h3>
              <div class="progress">
                <div class="progress-bar text-dander progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 5%">5%</div>
              </div>
            </div>

            <div class="col-sm-5 offset-sm-2">
              <h3 class="mt-5">SQL</h3>
              <div class="progress">
                <div class="progress-bar text-dander progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%">50%</div>
              </div>
            </div>
          </div>
        </div>
      <!-- End Main Content -->
      </div>
    </div>
  </div>
<%- include('./partials/footer.ejs')%>
